body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container
{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row
{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.pixel
{
    flex: 1;
}

.gridlines
{
    border: 1px solid gray;
}

.pixel:hover
{
    background-color: gray;
}